html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
.card {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.1);
}

.card-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    font-weight: 600;
}
.h{
    height: 420px; 
}
.hh{
    height: 420px; 
}
.h-full{
    height: 420px;
}

/*
.ron{
    padding: 5px;
    height: 100dvh;
}
*/